<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>Employee Management System</h1>
		<h2>Login or Sign Up</h2>
		<div>
			<form action="/login" method="get">
				<button>Login</button>
			</form>
			<br>
			<form action="/registration" method="get">
				<button>Sign Up</button>
			</form>
		</div>
	</div>
</body>
</html>